.wrapper {
    width: 100%;
}

.container {
    width: 1170px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content__child {
    width: calc(100%/3 - 15px);
}

.content .content__child .title {
    padding: 1rem 0;
    font-weight: 700;
}

.content .content__child .text {
    font-size: 1.2rem;
    color: gray;
}

.wrapper .content .content__child .content__child-icon {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.icon {
    color: white;
}