.wrapper {
    width: 100%;
}

html {
    font-size: 62.5%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content__child {
    width: calc(100%/3 - 15px);
}

.img {
    width: 100%;
}

.content .content__child .title {
    color: black;
    padding-top: 3rem;
    font-weight: 700;
}

.content .content__child .text {
    color: gray;
    font-size: 1.6rem;
}