.wrapper {
    width: 100%;
    background-color: black;
}

html {
    font-size: 62.5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.header .header__logo {
    font-size: 2.4rem;
    color: white;
    font-weight: 700;
}

.header .header__menu {
    display: flex;
    list-style-type: none;
}

.header .header__menu li {
    padding: 0 2rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
}